@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, sans-serif;
}

main {
  max-width: 30rem;
  margin: auto;
  padding: 2rem 1rem;
}

main > h1 {
  text-align: center;
}

.table-optimized {
    background-color: white;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
}
