HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.eml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


### Maven ###
release.properties
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
/_windows/
/codestyles/
/inspection/
/.mvn/
/aws.xml
/baseRefactoring.xml
/code.style.schemes.xml
/colors.scheme.xml
/dbnavigator.xml
/debugger.xml
/file.template.settings.xml
/filetypes.xml
/find.xml
/gradle.settings.xml
/ide.general.xml
/markdown.xml
/mavenVersion.xml
/notifications.xml
/pom.xml.versionsBackup
/project.default.xml
/studioSettings.xml
/toStringTemplates.xml
/ui.lnf.xml
/usageView.xml
/vcs.xml
/_windows/
/_windows/*